---
layout: default
title: Portfolio
---
    <div class="header-container">
        <a class="img-link" href="index.html">
            <img class="logo" src="img/logo.png">
            <div class="title-container"><h1 class="title">Kelsey Humphries</h1></div>
        </a>
        <div class="nav-list">
            <a class="nav-link selected" href="index.html">Portfolio</a>
            <a class="nav-link" href="about.html">About</a>
            <a class="nav-link" href="HumphriesResume.pdf" target="_blank">Resume</a>
        </div>
    </div>

    <div class="main-container">
    {% assign featured_posts = site.posts | where:'featured', 'true' %}
    {% for post in featured_posts %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        <div class="project-row">
            <a href="{{ post.url }}" class="img-link">
                <div class="img-wrapper" style="background: {{ post.color }}">
                    <h2 class="img-title">{{ post.title }}</h2>
                    <p class="img-details">{{ post.details }}</p>
                    <img class="home-image" src="{{ post.img }}"></img>
                </div>
            </a>
    {% else %}
            <a href="{{ post.url }}" class="img-link">
                <div class="img-wrapper" style="background: {{ post.color }}">
                    <h2 class="img-title">{{ post.title }}</h2>
                    <p class="img-details">{{ post.details }}</p>
                    <img class="home-image" src="{{ post.img }}"></img>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}
</div> <!-- #main-container -->
