<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kelsey Humphries Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ "img/favicon.ico" | relative_url }}" type="image/x-icon" />

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
        <link rel="stylesheet" href="{{ "css/normalize.min.css" | relative_url }}">
        <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">

        <script src="{{ "/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" | relative_url}}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-content">
            {{ content }}
            <div class="clearfix"></div>
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="footer-about">
                    <div>
                        I'm a user experience designer based in Pittsburgh. <br>
                        You can currently find me designing insurance member experiences for UPMC Health Plan.
                    </div>
                    <div class="footer-contact">
                        I like making things and solving problems.<br> 
                        You too?
                        <a href="mailto:kelsey.humphries@gmail.com"> Let's talk! <span class="mail">✉</span></a>
                    </div>
                </div>
                <div class="footer-links">
                    <div><a href="{{"index.html" | relative_url}}">Portfolio</a></div>
                    <div><a href="{{"about.html" | relative_url}}">About</a></div>
                    <div><a href="{{"HumphriesResume.pdf"  | relative_url}}" target="_blank">Resume</a></div>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{ "js/main.js" | relative_url}}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-66655484-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
